@import "./variables";

.section{
    padding: 3rem 0;
    
    .heading{
        text-align: center;
        font-size: 40px;
        margin-bottom: 3rem;
        @media screen and (max-width: $sm) {
            font-size: 34px;
            margin-bottom: 2.5rem;
        }
        @media screen and (max-width: $xs) {
            font-size: 28px;
            margin-bottom: 2rem;
        }
    }
    @media screen and (max-width: $sm) {
        padding: 2rem 0;
    }
}