$navbar-height: 82px;

$basic-clr: #CD7F32;
$basic-clr-highlight: #804a00;
$basic-box-shadow: 0px 0px 20px $basic-clr-highlight;

$standard-clr: #C0C0C0;
$standard-clr-highlight: #71706e;
$standard-box-shadow: 0px 0px 20px $standard-clr-highlight;

$premium-clr: #d2b300;
$premium-clr-highlight: #9e7b07;
$premium-box-shadow: 0px 0px 20px $premium-clr-highlight;

$clr-red:red;
$clr-red-dark:rgb(187,0,0);
$clr-red-darkest:rgb(127,0,0);

// break points
$xs: 380px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;