@import "../../utilities/Section";

.supplements{
    .container{
        display:grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 250px));
        justify-content: center;
        gap: 2rem;
    }
}