@import "../../utilities/Section.scss";

.pricing{
    .container{
        max-width: 1020px;
        .subscriptions{
            display:grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            justify-content: center;
            gap: 2rem;
            @media screen and (max-width: $lg) {
                grid-template-columns: 1fr 1fr 1fr;
                gap: 1rem;
            }
            @media screen and (max-width: 780px) {
                display: grid;
                grid-template-columns: 1fr 1fr;
            }
            @media screen and (max-width: $sm) {
                grid-template-columns: 1fr;
            }
        }
    }
}