@import "../../utilities/variables";

.navbar{
    width: 100vw;
    height: $navbar-height;
    background-color: black;
    // box-shadow: 0px 10px 10px 3px $clr-red;
    position: fixed;
    top: 0;
    z-index: 9999;

    .container{
        display: flex;
        align-items: center;
        justify-content: space-between;

        .logo-container{
            height: 100%;
            display: flex;
            align-items: center;
            .logo{
                height: 50px;
                @media screen and (max-width: $sm) {
                    height: 38px;
                }
            }
        }

        .links{
            @media screen and (max-width: $lg) {
                position: absolute;
                left: 0;
                top: $navbar-height;
                background-color: black;
                width: 100vw;
                flex-direction: column;
                padding: 0.5rem 0;
                transform: translateY(calc(-100% - #{$navbar-height}));
                z-index: -9999;
                &.open{
                    transform: translateY(0);
                    transition: transform 300ms ease-in;
                }
                &.closed{
                    transform: translateY(calc(-100% - #{$navbar-height}));
                    transition: transform 300ms ease-in;
                }
            }
            display: flex;
            align-items: center;
            column-gap: 0.25rem;

            .link{
                padding: 0.5rem 0.5rem;
                transition: color 200ms ease-in;
                position: relative;
                font-size: 15px;

                &:before{
                    content: "";
                    position: absolute;
                    height: 1px;
                    background-color: $clr-red;
                    width: 0;
                    bottom: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    transition: width 200ms ease-in;
                }
                
                &:hover{
                    color: $clr-red;
                    &:before{
                        width: 100%;
                    }
                }
            }

            .btn-signup, .btn-signin{
                padding: 0.5rem 0.75rem;
                font-size: 15px;
            }
            .btn-signup{
                &:hover{
                    box-shadow: 0px 0px 5px 1px $clr-red;
                }
            }
        }
    }
}