@import "../../utilities/variables.scss";

.footer{
    border-top: 1px solid white;
    margin-top: 2rem;

    .container{
        padding: 3rem 0 2rem;
        max-width: 920px;
        .content{
            padding: 0 2rem 3rem;
            display: flex;
            margin: auto;
            align-items: flex-start;
            justify-content: space-between;
            border-bottom: 1px solid white;

            .footer-list{
                display: flex;
                flex-direction: column;
                .heading{
                    font-weight: bold;
                    font-size: 15px;
                    margin-bottom: 0.6rem;
                }
                .list{
                    display: flex;
                    flex-direction: column;
                    row-gap: 0.25rem;
                    .footer-link{
                        position: relative;
                        font-size: 14px;
                        width: fit-content;
                        &::before{
                            content: "";
                            position: absolute;
                            bottom: 0;
                            height: 1px;
                            width: 0;
                            background-color: $clr-red;
                            transition: all 300ms ease-in-out;
                        }
                        &:hover{
                            &::before{
                                width: 100%;
                            }
                            color:$clr-red;
                        }
                    }
                }
            }
        }

        .bottom{
            padding: 1.5rem 2rem 0;
            margin: auto;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 14px;
            .socials{
                display: flex;
                align-items: center;
                column-gap: 0.5rem;
                a{
                    &:hover svg g{
                        fill:$clr-red;
                    }
                }
            }
        }
    }
}