@import "../../utilities/variables.scss";

.footer{
    border-top: 1px solid white;
    margin-top: 2rem;

    .container{
        padding: 3rem 0 2rem;
        max-width: 920px;
        .content{
            padding: 0 2rem 3rem;
            display: flex;
            margin: auto;
            align-items: flex-start;
            justify-content: space-between;
            border-bottom: 1px solid white;

            @media screen and (max-width: $sm) {
                display: grid;
                grid-template-columns: 1fr 1fr;
                padding: 0;
                padding-bottom: 2rem;
            }

            .footer-list{
                display: flex;
                flex-direction: column;
                margin-right: 1rem;
                &:last-child{
                    margin-right: 0;
                }
                @media screen and (max-width: $sm) {
                    margin-bottom: 1rem;
                }
                .heading{
                    font-weight: bold;
                    font-size: 15px;
                    margin-bottom: 0.6rem;
                    @media screen and (max-width: $xs) {
                        font-size: 14px;
                    }
                }
                .list{
                    display: flex;
                    flex-direction: column;
                    row-gap: 0.25rem;
                    .footer-link{
                        position: relative;
                        font-size: 14px;
                        @media screen and (max-width: $xs) {
                            font-size: 13px;
                        }
                        width: fit-content;
                        &::before{
                            content: "";
                            position: absolute;
                            bottom: 0;
                            height: 1px;
                            width: 0;
                            background-color: $clr-red;
                            transition: all 300ms ease-in-out;
                        }
                        &:hover{
                            &::before{
                                width: 100%;
                            }
                            color:$clr-red;
                        }
                    }
                }
            }
        }

        .bottom{
            padding: 1.5rem 2rem 0;
            margin: auto;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 14px;
            column-gap: 0.5rem;
            @media screen and (max-width: $sm) {
                padding: 0;
                padding-top: 1.5rem;
            }
            @media screen and (max-width: $xs) {
                font-size: 13px;
            }
            .socials{
                display: flex;
                align-items: center;
                column-gap: 0.5rem;
                @media screen and (max-width: $xs) {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                }
                a{
                    &:hover svg g{
                        fill:$clr-red;
                    }
                }
            }
        }
    }
}