@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap');

@import "./utilities/variables";

*,*::before,*::after{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  color: white;
}

.container{
  width: 80vw;
  max-width: 1280px;
  margin: auto;
  height: 100%;
}

html {
  scroll-padding-top: $navbar-height;
  scroll-behavior: smooth;
}

body{
  background-color: black;
}

.btn-signin{
  color: $clr-red;
  border: 2px solid transparent;
  transition: all 200ms ease-in;
  border-radius: 6px;
  &:hover {
    color:$clr-red-dark;
  }
}

.btn-signup{
  color: $clr-red;
  border: 2px solid $clr-red;
  border-radius: 6px;
  transition: all 200ms ease-in;
  &:hover{
    border-color: $clr-red-dark;
    box-shadow: 0px 0px 15px 3px $clr-red;
  }
}

a{
  cursor: pointer;
}